* {
  margin: 0;
  padding: 0;
}

/* ここからheader */
.header {
  height: 200px;
  background-color: rgb(234, 232, 255);
}

/* headerここまで */

/* ここからmain */
.left {
  display: inline-block;
  width: 16.66%;
  color: #4e4e4e;
  padding: 0 30px;
}

.left-title {
  font-style: italic;
  font-weight: bold;
  margin: 30px 0;
}

.left ul {
  list-style: none;
}

.left li {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  padding: 13px 15px;
  border: 2px solid;
  border-radius: 3px;
  cursor: pointer;
  width: 120px;
}

.left li:hover {
  background-color: rgb(237,205,25);
  padding-left: 40px;
  transition: padding-left .5s;
}

.content {
  display: inline-block;
  width: 66.66%;
}

.right {
  display: inline-block;
  width: 16.66%;
}

/* mainここまで */

/* ここからfooter */
.footer {
  height: 500px;
  background-color: rgb(218, 255, 226);
}

/* footerここまで */
